@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --scrollbar-auto-track: hsl(220 calc(1 * 6.5%) 18% / 1);
  --scrollbar-auto-thumb: hsl(225 calc(1 * 7.1%) 11% / 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 88 101 242;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 225 6% 13%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 17 18 20;
    --popover-foreground: 210 40% 98%;

    --primary: 88 101 242;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 359 87% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply dark bg-background text-foreground;
  }

  input,
  button,
  a {
    @apply border-2 border-transparent focus-visible:border-sky-400 outline-none rounded transition-colors duration-300;
  }
}

.scroller {
  /* width */
  ::-webkit-scrollbar {
    width: 16px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
    margin-bottom: 8px;
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
  }
}

.spin {
  animation: 100ms ease-out spin;
}

@keyframes spin {
  from {
    transform: rotate(90deg);
    opacity: 0.1;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.overflow-fade-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(54, 57, 63, 0) 0%,
    rgb(49, 51, 56) 100%
  );
}
